<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{ABSOLUTE} [%thread] %-5level %logger [%ndc] - %message%newline%Exception" />
      </layout>
    </appender>
    <root>
      <level value="INFO" />
      <appender-ref ref="ConsoleAppender" />
    </root>
  </log4net>
  <connectionStrings>
    <add name="Postgre_DB" connectionString="Driver={PostgreSQL};Server=localhost;Port=5432;Database=folio_db;Uid=postgres;Pwd=Breanna7!7b;"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IFolioService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:61118/FolioService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IFolioService" contract="FolioService.IFolioService"
        name="BasicHttpBinding_IFolioService" />
    </client>
  </system.serviceModel>
</configuration>